name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  Build_Tests:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    services:
      sqlserver:
        image: mcr.microsoft.com/mssql/server:2019-latest
        env:
          SA_PASSWORD: "YourStrong!Passw0rd"
          ACCEPT_EULA: "Y"
        ports:
          - 1433:1433
        options: >-
          --health-cmd "opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P 'YourStrong!Passw0rd' -Q 'SELECT 1' || exit 1"
          --health-interval 10s
          --health-start-period 30s
          --health-timeout 5s
          --health-retries 3
        volumes:
          - /var/lib/docker/volumes/mssql_db/_data:/var/opt/mssql
    
      # rabbitmq:
      #   image: masstransit/rabbitmq
      #   ports:
      #      - 5672:5672
      #      - 15672:15672
      #   options: >-
      #     --privileged
      #     --health-cmd "curl -f http://localhost:15672 || exit 1"
      #     --health-interval 10s
      #     --health-timeout 5s
      #     --health-retries 5
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Fix permissions on SQL Server directory
      run: |
        sudo chmod -R 777 /var/lib/docker/volumes/mssql_db/_data
        sudo chown -R mssql:mssql /var/lib/docker/volumes/mssql_db/_data

    - name: Restore dependencies
      run: dotnet restore PosTechFiap.sln

    - name: Build
      run: dotnet build PosTechFiap.sln --no-restore

    - name: Ensure Docker is running
      run: |
        sudo systemctl start docker
        sudo systemctl status docker

    - name: App Settings Variable Substitution
      uses: microsoft/variable-substitution@v1
      with:
        files: '**/appsettings.Test.json'
      env:
        Settings.RunningCI: true

    - name: Run tests
      run: dotnet test PosTechFiap.sln --no-build --verbosity normal

    - name: List all Docker containers after tests
      run: docker ps -a

    - name: Get logs of all Docker containers
      run: |
        for container in $(docker ps -a -q); do
          echo "Logs for container $container:"
          docker logs $container
        done

